<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login form</title>
</head>
<body>
  
 <div class="flex flex-col items-center justify-center h-screen ">

   <form method="POST">
    <div class="text-blue-500 text-xl font-bold">Login to the system</h1></div>
   <div class="flex flex-col items-center justify-center border shadow shadow-gray-500 rounded h-[250px] w-[300px] ">
     
     
       
       <input type="text" name="username" placeholder="Enter user name" class="border border-gray-500 shadow shadow-gray-500 rounded w-[300px] mb-8 mt-10">
      
      
        <input type="password" name="password" id='password' placeholder="Enter password" class="border border-gray-500 rounded shadow shadow-gray-500 w-[300px] mb-8">
        
     
      
      
      
        
        <button  type="submit" class="border border-gray-400 rounded w-[300px] mb-8 bg-green-500 shadow shadow-gray-500 "  >login</button>
     
       <button  class="border border-gray-400 rounded w-[100px] mb-8 shadow shadow-gray-500 "  >Signup</button>
      
    </form>
  </div>


 </div>
 
</body>
</html>